{%extends "MateriaSqlBundle:Default:index.html.twig"%}
{%block stylesheets %}

{%endblock%}
{%block container %}
<div class="container">

<h2>Usuarios</h2>

		<table>
   			<caption>Lista de Usuarios</caption>
   			<thead>
		      <tr>
		         <th>ID</th>
		         <th>Nombre y Apellido</th>
		         <th>Nombre de Usuario</th>
		         <th>ID de Empresa</th>
		         <th>Empresa</th>
		         <th>Mail</th>
		         <th>Rol</th>
		         <th>Accion</th>
		      </tr>
   			</thead>
   			<tbody>
		    	{% for user in users %}
      			<tr class="{{ cycle(['even', 'odd'], loop.index0) }}">
      				<td>{{ user.userid }}</td>
      				<td>{{ user.firstName }} {{ user.lastName }}</td>
      				<td>{{ user.userName }}</td>
      				<td>{{ user.userCompanyId }}</td>
      				<td>
      					
      				{% if user.userCompanyId == company.companyId %}
      					{{ company.companyNombrefantasia }}
      				{% endif %}
      				
      				</td>
      				<td>{{ user.userMail }}</td>
      				<td>{{ user.userRol }}</td>
      				<td>
      					<a href="{{path('materia_sql_editUser', {'userid': user.userid})}}">Editar</a>
						{% if user.userRol != 'TITULAR' and user.userRol != "SUPER_ADMIN" %}
						 - <button id="btnPopUp{{ user.userid }}">Eliminar</button>
						{% endif %}
						
						<script>
						$(document).ready(function(){
						  $("#btnPopUp{{ user.userid }}").click(function(){
						     $(".eliminaObjeto{{ user.userid }}").toggle(); 
						  });
						  
						  $("#btnClose{{ user.userid }}").click(function(){
						     $(".eliminaObjeto{{ user.userid }}").toggle(); 
						  });
						});
						</script>
						
						<div class="eliminaObjeto{{ user.userid }}" id="eliminaObjeto" hidden>


							<form id="form" class="well" method="POST" action="{{path('materia_sql_deleteCompanyUser', {'userid': user.userid})}}" data-validate="parsley">

								<span>Esta seguro que desea eliminar el Usuario {{ user.firstName }} {{ user.lastName }}</span>
								<span>que es actual miembro de la empresa 

									{% if user.userCompanyId == company.companyId %}
										{{ company.companyNombrefantasia }}
									{% endif %}
									</span>
								<input type="Hidden" id="userId" name="userId" class="input-xlarge" readonly value="{{ user.userid }}">			
								<button class="btn btn-primary" type="submit" >Eliminar</button>
								<span class="btn" id="btnClose{{ user.userid }}">Cancelar</span>
						    </form>

						</div>
						
      				</td>
				</tr>
				{% endfor %}
   			</tbody>
		</table>
		<a href="{{ path('materia_sql_newUser') }}">Nuevo Usuario</a>
 </div> 
    {%endblock%}