{% extends 'JazzywebAulasMentorAlimentosBundle:Default:layout.html.twig' %}

{% block contenido %}

{% if mensaje is defined %}
<b><span style="color: red;">{{ mensaje }}</span></b>
{% endif %}
<br/>
<form name="formModificado" action="{{ path('JazzywebAulasMentorAlimentosBundle_modificado')}}" method="POST">
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Energía (Kcal)</th>
            <th>Proteina (g)</th>
            <th>H. de carbono (g)</th>
            <th>Fibra (g)</th>
            <th>Grasa total (g)</th>
        </tr>
        <tr>
            <td><input type="text" name="id" value="{{ id }}" /></td>
            <td><input type="text" name="nombre" value="{{ nombre }}" /></td>
            <td><input type="text" name="energia" value="{{ energia }}" /></td>
            <td><input type="text" name="proteina" value="{{ proteina }}" /></td>
            <td><input type="text" name="hidratocarbono" value="{{ hidratocarbono }}" /></td>
            <td><input type="text" name="fibra" value="{{ fibra }}" /></td>
            <td><input type="text" name="grasatotal" value="{{ grasatotal }}" /></td>
        </tr>
    </table>
    
    
    <table>
        <tr>
            <th>Color</th>
            <th>Peso</th>
            <th>Familia</th>
            <th>Foto</th>
        </tr>
        <tr>
            <td><input type="text" name="color" value="{{ color }}" /></td>
            <td><input type="text" name="peso" value="{{ peso }}" /></td>
            <td><input type="text" name="familia" value="{{ familia }}" /></td>
            <td><input type="text" name="foto" value="{{ foto }}" /></td>
        </tr>
    </table>
    
    <input type="submit" value="Modificar" name="modificado" />
</form>
{% endblock %}